h1{
	color: #456879;	
	font-family: helvetica;
	margin-left: 75px;

}
a{
	cursor: pointer; 
	color: #456879;
}



body{
   background-color: #343b42;
   background-image: url("moon.png");
   background-size: 100%;
   margin-top: 10px;
   padding: 30px;

}

#tweets{
   overflow: scroll;
   position: absolute;
   height: 300px;
   width: 550px;
   margin-left: 200px;
   margin-top: 75px;
   padding: 0px;
   font-family: helvetica;
   color: white;
   border: 2px solid #456879;
   background-color: transparent;
   -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
   
}
div{
	background-color: transparent;
	color: #ccc;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

h4{
	font-family: helvetica;
	color: white;
	
}
#users{
	
	position: absolute;
	margin-left: 15px;
	margin-top: 100px;
	font-family: helvetica;
	text-align: left;
 	height: auto;
 	width: 150px;
 
    background-color: transparent;

}

button{
padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
}