h1{
	color: #456879;	
	font-family: helvetica;
	margin-left: 75px;

}
a{
	cursor: pointer; 
	color: #999999;
}



body{
   background-color: #343b42;
   background-image: url("moon.png");
   background-size: 100%;
   margin-top: 10px;
   padding: 30px;

}

div{
   overflow: scroll;
   position: absolute;
   height: 320px;
   width: 500px;
   margin-left: 200px;
   margin-top: 75px;
   padding: 0px;
   font-family: helvetica;
   border: 2px solid #456879;;
   background-color: transparent;
   -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
   
}
p{
	background-color: transparent;
	color: #999999;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
input {
	margin-left: 150px;
	margin-top: 50px;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

}
h4{
	font-family: helvetica;
	color: white;
	
}
#users{
	overflow: scroll;
	margin-left: 15px;
	margin-top: 75px;
	font-family: helvetica;
	text-align: center;
 	height: auto;
 	width: 150px;
 	border: 2px solid white;
    background-color: transparent;

}

.hide {
	display: none;
}