body{
   background-color: #343b42;
   background-image: url("moon.png");
   background-size: 100%;
   margin: 50px;
   padding: 50px;
   font-family: helvetica;
}
div{
   height: auto;
   width: 500px;
   margin: 5px;
   padding: 5px;
   font-family: helvetica;
   border: 2px solid black;
   background-color: #173e46;
   overflow: scroll;
}
